<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
</head>
<body ng-app>
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>AngularJS Form Validation</h1></div>
    <form name="userForm" novalidate> 

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="name" required>
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" required ng-minlength="3" ng-maxlength="8">
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required ng-model="email">
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
    </form>
</div>
</div>
</body>
</html>